.hideHeader {
  z-index: -1;
  opacity: 0;
  display: none;
}
.sortlist {
  border: 2px solid #dcac81;
  padding: 8px 5px;
  border-radius: 24px;
  text-align: center;
  position: absolute;
  background-color: #f8f1eb;
  width: 100%;
  z-index: 100;
}

h2.text-lg.font-medium.mb-2.heading-property {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 21px;
  max-height: 48px;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

/* Page Transition CSS */
.page-transition-container {
  position: relative;
}

/* Define fade-in and fade-out animations */
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.page {
  animation: fade-in 0.3s ease-out forwards;
}

.page-exit {
  animation: fade-out 0.3s ease-out forwards;
}
/* Limiting lines in card title */
.line-limit {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  padding-bottom: 5px !important;
}
html {
  scroll-behavior: smooth;
}
.filter-calendar-position {
  top: 131px;
  right: 113px;
}
@media (max-width: 768px) {
  .filter-calendar-position{
    top: 31px; 
    left: -38px;
  }
}

@media (max-width:768px){
  img.rounded-md.w-full.h-full.object-cover {
    width: auto;
    height: auto;
}

button.hover\:bg-gray-400.hover\:bg-opacity-40.rounded-full.absolute.top-1\/2.-translate-y-1\/2.right-6.flex.items-center.justify-center.w-10.h-10.border.border-borderColor {
  position: absolute;
  top: 200px;
}

button.hover\:bg-gray-400.hover\:bg-opacity-40.rounded-full.absolute.top-1\/2.-translate-y-1\/2.left-6.flex.items-center.justify-center.w-10.h-10.border.border-borderColor {
  position: absolute;
  top: 200px;
}
}
/* Pop-up Close button */
.popup-button {
  right: 10px;
  top: 39px;
  z-index: 1;
}
.profile-navbar{
  padding:0px !important;
}
.prose h2{
  margin-top: 20px;
  font-weight: 600;
}
.star-div input{
  display: none;
}
.star{
  cursor: pointer;
}
.emoji-div{
  font-size: 50px;
  justify-content: center;
}

/* PulltoRefresh */
.refreshing {
  position: relative;
  left: 0;
  z-index: 8888;
  width: 100%;
  text-align: center;
  color: #16a24a;
  font-size: 20px;
  padding: 30px 0 !important;
  background: #ffffff2e;
}

.refreshing svg {
  margin: auto !important;
  display: table;
}

.refreshing svg path {
  fill: #16a24a!important;
}

/* @media only screen and (max-width: 768px) {
  .refreshing {
    position: absolute;
    top: 0;
  }
} */

/* Error Page */
html {
  height: 100%;
}
html, body {
  margin:0;
  font-family: Arial, sans-serif;
  font-style: normal;
  font-variant: normal;
}
.pd-5vw{
  padding: 5vw;
}

.dpd-20{
  padding-bottom: 20px;
}
.text-center{
  text-align: center;
}
.text-grey{
  color: #5f7f89;
}
.text-blue{
  color: #4fc1ea;
}

.text-size-20-vh{
  font-size: 20vh;
  line-height: normal;
}

.text-size-10-vh{
  font-size: 10vh;
}

.text-size-5-vh{
  font-size: 5vh;
}
.text-size-18{
  font-size: 18px;
}
.text-height-1-5{
  line-height: 1.5;
}

.bg-404{
  height: 100%;
  position: relative;
  background: #eee;
  background: -moz-linear-gradient(top, rgba(232,247,252,1) 0%, rgba(249,249,249,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(232,247,252,1) 0%,rgba(249,249,249,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(232,247,252,1) 0%,rgba(249,249,249,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  /* filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8f7fc', endColorstr='#f9f9f9',GradientType=0 ); IE6-9 */
}

.gears-grd1{
  stop-color:#4fc1ea; stop-opacity:1
}
.gears-grd2{
  stop-color:#6435c9; stop-opacity:1
}

.gears-img{
  position: absolute;
  text-align: right;
  right: 10vw;
  bottom: 10vh;
  width: 40%;
}
.gears-img img{
  max-width: 100%;
}

.machine {
  width: 60vmin;
}

.small-shadow, .medium-shadow, .large-shadow {
  fill: rgba(0, 0, 0, 0.05); }

.small {
  -webkit-animation: counter-rotation 2.5s infinite linear;
  -moz-animation: counter-rotation 2.5s infinite linear;
  -o-animation: counter-rotation 2.5s infinite linear;
  animation: counter-rotation 2.5s infinite linear;
  -webkit-transform-origin: 100.136px 225.345px;
  -ms-transform-origin: 100.136px 225.345px;
  transform-origin: 100.136px 225.345px; }

.small-shadow {
  -webkit-animation: counter-rotation 2.5s infinite linear;
  -moz-animation: counter-rotation 2.5s infinite linear;
  -o-animation: counter-rotation 2.5s infinite linear;
  animation: counter-rotation 2.5s infinite linear;
  -webkit-transform-origin: 110.136px 235.345px;
  -ms-transform-origin: 110.136px 235.345px;
  transform-origin: 110.136px 235.345px; }

.medium {
  -webkit-animation: rotation 3.75s infinite linear;
  -moz-animation: rotation 3.75s infinite linear;
  -o-animation: rotation 3.75s infinite linear;
  animation: rotation 3.75s infinite linear;
  -webkit-transform-origin: 254.675px 379.447px;
  -ms-transform-origin: 254.675px 379.447px;
  transform-origin: 254.675px 379.447px; }

.medium-shadow {
  -webkit-animation: rotation 3.75s infinite linear;
  -moz-animation: rotation 3.75s infinite linear;
  -o-animation: rotation 3.75s infinite linear;
  animation: rotation 3.75s infinite linear;
  -webkit-transform-origin: 264.675px 389.447px;
  -ms-transform-origin: 264.675px 389.447px;
  transform-origin: 264.675px 389.447px; }

.large {
  -webkit-animation: counter-rotation 5s infinite linear;
  -moz-animation: counter-rotation 5s infinite linear;
  -o-animation: counter-rotation 5s infinite linear;
  animation: counter-rotation 5s infinite linear;
  -webkit-transform-origin: 461.37px 173.694px;
  -ms-transform-origin: 461.37px 173.694px;
  transform-origin: 461.37px 173.694px; }

.large-shadow {  
  -webkit-animation: counter-rotation 5s infinite linear;
  -moz-animation: counter-rotation 5s infinite linear;
  -o-animation: counter-rotation 5s infinite linear;
  animation: counter-rotation 5s infinite linear;
  -webkit-transform-origin: 471.37px 183.694px;
  -ms-transform-origin: 471.37px 183.694px;
  transform-origin: 471.37px 183.694px; }

@-webkit-keyframes rotation {
  from {-webkit-transform: rotate(0deg);}
  to   {-webkit-transform: rotate(359deg);}
}
@-moz-keyframes rotation {
  from {-moz-transform: rotate(0deg);}
  to   {-moz-transform: rotate(359deg);}
}
@-o-keyframes rotation {
  from {-o-transform: rotate(0deg);}
  to   {-o-transform: rotate(359deg);}
}
@keyframes rotation {
  from {transform: rotate(0deg);}
  to   {transform: rotate(359deg);}
}

@-webkit-keyframes counter-rotation {
  from {-webkit-transform: rotate(359deg);}
  to   {-webkit-transform: rotate(0deg);}
}
@-moz-keyframes counter-rotation {
  from {-moz-transform: rotate(359deg);}
  to   {-moz-transform: rotate(0deg);}
}
@-o-keyframes counter-rotation {
  from {-o-transform: rotate(359deg);}
  to   {-o-transform: rotate(0deg);}
}
@keyframes counter-rotation {
  from {transform: rotate(359deg);}
  to   {transform: rotate(0deg);}
}

@media only screen and (max-width: 767px) {
  .sm-hide{
    display: none;
  }
  .text-size-10-vh{
    font-size: 6vh;
  }
}
.container{
  max-width: 1465px !important;
}
.calendar{
  top:-32px;
  right:-32px;
}
@media (max-width: 768px) {
  .calendar{
    top:-96px;
    left:-32px;
  }
}