.edit-color {
  gap: 1px;
  font-family: Inter;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: right;
  color: #c48b58;
}

.item-heading {
  color: #3f2a17;
  font-size: 22px;
  font-weight: 600;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
}

p.item-pargraph {
  color: #666360;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
}

.heading-data {
  color: #3f2a17;
  font-family: Gilroy-Medium;
  font-size: 22px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
}

.profile-image img {
  object-fit: cover;
  width: 50px;
  height: 50px;
  border: 1px solid  #D9D9D9;
  border-radius:100%;
  
}

/* .luxury-stay {
  position: relative;
}

#hero {
  transition: transform 0.3s ease-in; }

#hero:hover {
  transform: translateY(-20px); } */




  .profile-image img {
    object-fit: cover;
    width: 50px;
    height: 50px;
}

.profile-image {
    position: relative;
}

img.side-img {
  border: 2px solid;
  border-radius: 50%;
  object-fit: cover;
  height: 63px !important;
  width: 80px !important;
}

.profile-image ul.dropdown-menu.text-black.border-3 {
    position: absolute;
    background: #fff;
    top: 61px;
    right: 0;
    padding: 15px;
    box-shadow: 0 0 17px -5px #ccc;
    border-radius: 5px;
}

.img-book img.rounded-full { border-radius: 10px; width: 70px; height: 60px ; -o-object-fit: cover; object-fit: cover; }
.break-inside-avoid-column .admin-user-img { border-radius: 50px !important; height: 50px !important; width: 50px !important; }